ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

li i {
  padding-right: 2%;
}


.playerinfo {
  padding-bottom: 1%;
}

.playerinfo span {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
}

.speculatorinfo {
  padding-bottom: 1%;
}

.speculatorinfo span {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
}

.elec {
    color: #ffffff;
    //font-family: 'Merriweather', serif;
    font-family: "impact", Charcoal, sans-serif;
    //font-weight: bold;
    background-color: #282828;
    padding: 10px;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    margin-bottom: 10px;
}

.elec:hover {
    color: #000000;
    background-color: #ffffff;
    animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -webkit-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -moz-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}
