<script>
  window.gameName = "<%= @game %>";
  window.userToken = "<%= @current_user %>" == "" ? "Anonymous" : "<%= @current_user %>";
</script>

<div id="game" style="background-image: url('/images/bg-02.jpg');">
  Loading...
</div>
